<!-- end masonry portfolio section -->

<!-- start masonry portfolio section -->

{% assign news = (site.news | sort: 'date') | reverse %}

<section class="wow fadeIn">
    <div class="container-fluid margin-20px-left margin-20px-right">
        <div class="row text-center">
            <div class="col-md-12">
                <h5
                    class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 sm-width-100 xs-width-100">
                    News</h5>
                <span
                    class="separator-line-horrizontal-medium-light2 bg-hcid display-table margin-auto width-100px"></span>
            </div>
        </div>

        <div class="row no-margin">
            <div class="filter-content overflow-hidden margin-50px-top sm-margin-75px-top xs-margin-50px-top">
                <ul class="portfolio-grid work-2col hover-option2 gutter-small">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                    {% for new in news limit:10 %}
                    <li class="grid-item wow fadeInUp">
                        <div class="left_line row equalize md-equalize-auto">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center display-table xs-margin-15px-bottom wow fadeIn">
                                <div class="display-table-cell vertical-align-middle border-bottom-img">
                                    {% if new.image %}
                                    {% assign image_url = new.image | prepend: "/assets/images/news/" %}
                                    <img src="{{image_url}}" alt="" class="width-100">
                                    {% else %}
                                    <img src="https://dummyimage.com/600x400/cfcfcf/000000&text=Image" alt="" class="width-100">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sm-text-center display-table xs-margin-30px-bottom wow fadeIn">
                                <div class="display-table-cell vertical-align-middle  vertical-align-middle">
                                    {% assign new_date =  {{new.date | date: '%Y/%m/%d'}} %}
                                    {% assign new_url =  new_date | prepend: '/news/'%}
                                    <div
                                        class="alt-font text-uppercase margin-30px-top margin-5px-bottom text-large text-extra-dark-gray font-weight-600 xs-margin-15px-top">
                                        <a href="{{ new.url | relative_url }}">{{new.title}}</a></div>
    
                                    <div
                                        class="alt-font margin-5px-top margin-5px-bottom text-small text-dark-gray font-weight-400 xs-margin-15px-top">
                                        {{ new.date | date: '%B %d, %Y' }}</div>
    
                                    <p>{{new.detail}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row text-right margin-50px-top wow-fadeIn">
            <div class="col-md-12">
                <a href="{{ '/news' | relative_url }}" class="btn btn-very-small btn-dark-gray">Read more</a>
            </div>
        </div>
    </div>
    </div>
</section>