---
layout: default
---


<!-- [mod] start page title section -->
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-top top-space"
    style="background-image:url('/assets/images/header/assessment.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                    <!-- start sub title -->
                    <span class="display-block text-white opacity6 alt-font margin-5px-bottom">JOIN US!</span>
                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom">ASSESSMENT & INTERVENTION</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->

<div class="padding-six-lr padding-three-top xs-padding-six-top sm-padding-six-top sm-text-center">
    <a href="{{ '/participation' | relative_url }}" class="btn btn-small btn-cll-gray md-margin-5px-right position-relative">Research participation</a>
    <a href="{{ '/participation/assessment_participation' | relative_url }}" class="btn btn-small btn-cll-green md-margin-5px-lr position-relative sm-margin-one-tb">Assessment & Intervention</a>
    <div class="width-100 height-3px margin--3px-top bg-cll-green z-index-1111 position-relative sm-display-none"></div>
</div>

<section class="wow fadeIn padding-three-top padding-seven-bottom xs-padding-twelve-top xs-padding-twelve-bottom">
    <div class="container">
        <div class="row equalize md-equalize-auto">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 display-table no-padding no-margin-top no-margin-bottom wow fadeIn">
                <div class="display-table-cell padding-six-lr md-padding-8px-lr xs-padding-eight-lr vertical-align-top xs-text-center">
                    <h6 class="font-weight-600 alt-font text-extra-dark-gray letter-spacing-minus-1">ASSESSMENT & INTERVENTION</h6>
                    <div class="left_line">
                    <p>EWHA speech-language clinic is staffed with bilingual (Korean/English) graduate clinicians and a supervisor (CCC-SLP).
                        Bilingual or monolingual children with suspected speech and language delay will be assessed and treated using evidenced-based language treatment.
                        These individuals are assigned to graduate student clinicians enrolled in the Child Llanguage Lab (CLL) who receive specialized training in bilingual assessment and intervention.
                        </br></br>이화여자대학교 언어병리학과 언어클리닉에는 2개 국어 (영어/한국어)를 구사하는 대학원 임상가와 감독자 (CCC-SLP)가 있습니다. 
                        언어 지연이 의심되는 이중언어 또는 단일언어 아동들은 근거 기반을 토대로 한 언어치료기법들을 통해 평가되고 치료 될 것입니다. 
                        의뢰받은 아동들은 이중언어 평가와 치료에 대한 전문교육을 받은 아동언어연구실 (Child Language Lab;CLL)의 대학원생 임상가에게 배정됩니다. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding no-margin-top no-margin-bottom display-table sm-text-center wow fadeIn"
                data-wow-delay="0.4s">
                <div class="display-table-cell padding-seven-lr md-padding-9px-lr xs-padding-nine-lr vertical-align-top">

                    <form action="https://formspree.io/sssefef@gmail.com" method="POST">
                        <div class="col-xs-6 no-padding-left padding-one-right">
                            <label>Child Name | 아동 이름</label>
                            <input name="child_name" type="text" placeholder="ex) John Appleseed" required />
                        </div>
                        <div class="col-xs-6 no-padding-right padding-one-left">
                            <label>Child's Birthday | 아동 생년월일</label>
                            <input name="birthday" type="text" placeholder="ex) DD/MM/YYYY" required />
                        </div>
                        <label>Your Email | 이메일</label>
                        <input name="email" type="email" placeholder="ex) ewhacll@gmail.com" required />
                        <label>Current Issue | 호소하는 증상</label>
                        <input name="issue" type="text" placeholder="ex) Language delay" required />
                        <button class="btn btn-small btn-dark-gray">Submit | 제출</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% for item in site.projects %}
<section class="wow fadeIn padding-four-tb">
    <div class="container margin-one-top margin-one-bottom">
        <div class="row equalize md-equalize-auto">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center display-table wow fadeIn">
                <div class="display-table-cell vertical-align-middle">
                    {% assign image_url = item.image | prepend: "/assets/images/projects/" %}
                    <img src="https://dummyimage.com/600x400/cfcfcf/000000&text=Image" alt="" class="width-90">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 display-table sm-text-center wow fadeIn"
                data-wow-delay="0.4s">
                <div
                    class="display-table-cell vertical-align-middle padding-twelve-lr md-padding-15px-lr xs-text-center xs-padding-five-lr xs-padding-ten-top width-100">
                    <h6 class="font-weight-600 alt-font text-extra-dark-gray letter-spacing-minus-1">{{item.title}}</h6>
                    <div class="left_line">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if forloop.last != true %}
<hr>
{% endif %}
{% endfor %}
<!-- [mod] end information section -->