---
layout: default
---
{% assign prof = site.data.professor[page.professor] %}



<!-- [mod] start page title section -->
{% if page.image %}
{% assign image_url = page.image | prepend: "/assets/images/grants/" %}
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-top top-space"
    style="background-image:url('{{image_url}}');">
{% else %}
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-top top-space"
    style="background-image:url('/images/header/research.jpg');">
{% endif %}
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                    <!-- start sub title -->
                    <!-- <span class="display-block text-white opacity6 alt-font margin-5px-bottom">WHAT WE DO</span> -->
                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom">{{page.title}}</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->


<!-- [mod] start information section -->
<section class="wow fadeIn animated animated">
    <div class="container">
        <div class="row equalize sm-equalize-auto">
            <div class="display-table width-100 height-100">
                <div
                    class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100 left_line">
                    <p class="text-medium line-height-30 text-medium-gray">
                        {{page.detail}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


