---
layout: default
---


<!-- Chaining Filters is allowed in Liquid syntax -->
{% assign news = site.news | sort: 'date' | reverse %}


<!-- [mod] start page title section -->
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-top top-space"
    style="background-image:url('{{ '/assets/images/header/news.jpg' | relative_url }}');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                    <!-- start sub title -->
                    <!-- <span class="display-block text-white opacity6 alt-font margin-5px-bottom">WHAT WE DO</span> -->
                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom">LAB NEWS</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>

    </div>

</section>
<div
    class="filter-content overflow-hidden margin-30px-left margin-30px-right margin-50px-top">
    <ul class="portfolio-grid work-2col hover-option2 gutter-small">
        <li class="grid-sizer"></li>
        <!-- start portfolio item -->
        {% for new in news %}
        <li class="grid-item wow fadeInUp">
            <div class="left_line row equalize equalize-auto">
                <div
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center display-table xs-margin-15px-bottom wow fadeIn">
                    <div class="display-table-cell vertical-align-middle border-bottom-img">
                        {% if new.image %}
                        {% assign image_url = new.image | prepend: "/assets/images/news/" %}
                        <img src="{{image_url}}" alt="" class="width-100">
                        {% else %}
                        <img src="https://dummyimage.com/600x400/cfcfcf/000000&text=Image" alt="" class="width-100">
                        {% endif %}
                    </div>
                </div>
                <div
                    class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sm-text-center display-table xs-margin-30px-bottom wow fadeIn">
                    <div class="display-table-cell vertical-align-middle  vertical-align-middle">
                        <div
                            class="alt-font text-uppercase margin-30px-top margin-5px-bottom text-large text-extra-dark-gray font-weight-600 xs-margin-15px-top">
                            <a href="{{ new.url | relative_url }}">{{new.title}}</a></div>

                        <div
                            class="alt-font margin-5px-top margin-5px-bottom text-small text-dark-gray font-weight-400 xs-margin-15px-top">
                            {{ new.date | date: '%B %d, %Y' }}</div>

                        <p>{{new.detail}}</p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- end page title section -->