---
layout: default
---


<!-- [mod] start page title section -->
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-top top-space"
    style="background-image:url('/assets/images/header/assessment.png');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                    <!-- start sub title -->
                    <span class="display-block text-white opacity6 alt-font margin-5px-bottom">JOIN US!</span>
                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom">RESEARCH PARTICIPATION</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->

<div class="padding-six-lr padding-three-top xs-padding-six-top sm-padding-six-top sm-text-center">
    <a href="{{ '/participation' | relative_url }}"
        class="btn btn-small btn-cll-green  md-margin-5px-right position-relative">Research participation</a>
    <a href="{{ '/participation/assessment_intervention' | relative_url }}"
        class="btn btn-small btn-cll-gray md-margin-5px-lr position-relative sm-margin-one-tb">Assessment &
        Intervention</a>
    <div class="width-100 height-3px margin--3px-top bg-cll-green z-index-1111 position-relative sm-display-none"></div>
</div>

<section class="wow fadeIn padding-three-top padding-three-bottom xs-padding-twelve-top xs-padding-twelve-bottom">
    <div class="container">
        <div class="row equalize md-equalize-auto">
            <div
                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 display-table no-padding no-margin-top no-margin-bottom wow fadeIn">
                <div
                    class="display-table-cell padding-six-lr md-padding-8px-lr xs-padding-eight-lr vertical-align-top xs-text-center">
                    <h6 class="font-weight-600 alt-font text-extra-dark-gray letter-spacing-minus-1">PARTICIPATE IN OUR
                        RESEARCH</h6>
                    <div class="left_line">
                        <p>Child Language Lab (CLL) is recruiting research participants! We are actively conducting
                            research on following topics and would like to offer you wonderful opportunities to
                            participate in our research.
                            If you would like to join research as participants or if you have any inquiries, please fill
                            out and submit the form. We will contact you as soon as possible.
                            </br></br>연구 참가자를 모집합니다! 아동언어연구실 (CLL)은 아래와 같은 주제에 대한 연구를 진행하고 있으며, 연구에 참여할 수 있는 멋진 기회를 제공하고
                            있습니다. 연구에 참여하고 싶으시거나 문의사항이 있으시면 양식을 채운 후 제출해주세요. 확인 후 연락드리겠습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding no-margin-top no-margin-bottom display-table sm-text-center wow fadeIn"
                data-wow-delay="0.4s">
                <div
                    class="display-table-cell padding-seven-lr md-padding-9px-lr xs-padding-nine-lr vertical-align-top">

                    <form action="https://formspree.io/sssefef@gmail.com" method="POST">
                        <label>Project | 프로젝트</label>
                        <input name="name" type="text" placeholder="ex) Mobile app for children with language delay" required />
                        <label>Your Name | 이름</label>
                        <input name="name" type="text" placeholder="ex) John Appleseed" required />
                        <label>Your Email | 이메일</label>
                        <input name="email" type="email" placeholder="ex) ewhacll@gmail.com" required />
                        <label>Child's Birthday | 아동의 생년월일</label>
                        <input name="birthday" type="text" placeholder="ex) DD/MM/YYYY" required />
                        <button class="btn btn-small btn-dark-gray">Submit | 제출</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<hr>

{% for item in site.projects %}
<section class="wow fadeIn padding-four-tb">
    <div class="container margin-one-top margin-one-bottom">
        <div class="row equalize md-equalize-auto">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center display-table wow fadeIn">
                <div class="display-table-cell vertical-align-middle">
                    {% assign image_url = item.image | prepend: "/assets/images/projects/" %}
                    <img src="https://dummyimage.com/600x400/cfcfcf/000000&text=Image" alt="" class="width-90">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 display-table sm-text-center wow fadeIn"
                data-wow-delay="0.4s">
                <div
                    class="display-table-cell vertical-align-middle padding-twelve-lr md-padding-15px-lr xs-text-center xs-padding-five-lr xs-padding-ten-top width-100">
                    <h6 class="font-weight-600 alt-font text-extra-dark-gray letter-spacing-minus-1">{{item.title}}</h6>
                    <div class="left_line">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if forloop.last != true %}
<hr>
{% endif %}
{% endfor %}
<!-- [mod] end information section -->