---
layout: default
---


<!-- [mod] start page title section -->
<section class="sm-margin-50px-top wow fadeIn cover-background background-position-center top-space"
    style="background-image:url('/assets/images/front-matter/lab.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom">PEOPLE</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->

<!-- [mod] start professor section -->

{% assign professors = site.people | where_exp: "item" , "item.path contains 'professor'"%}
{% for member in professors %}
<section class="wow fadeIn animated padding-three-tb">
    <div class="container">
        <div class="row equalize sm-equalize-auto md-margin-six-lr">
            <div class="col-md-4 col-sm-4 col-xs-12 text-center sm-margin-30px-bottom">
                <div class="display-table width-100 height-100">
                    <div class="display-table-cell vertical-align-middle width-100 height-100">
                        <a href="{{member.permalink | relative_url}}"><img
                                src="{{'/assets/images/people/dongsun.png' | relative_url}}" alt=""
                                class="border-radius-0 width-100"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 wow fadeIn">
                <div class="display-table width-100 height-100">
                    <div
                        class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                        <span
                            class="text-hcid alt-font margin-10px-bottom display-inline-block text-medium">Professor</span>
                        <a href="{{member.permalink | relative_url}}">
                            <h6 class="alt-font text-extra-dark-gray">{{member.name}}</h6>
                        </a>
                        <p>Ph.D., CCC-SLP</br>Associate Professor</br>sunyim@ewha.ac.kr</p>
                        <!-- if there's a link -->
                        <!-- <a href="services-simple.html" class="btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> Our Services</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-eight-top"></div> -->
    </div>
</section>
{% endfor %}
<!-- [mod] end professor section -->
<hr>
<!-- [mod] start phd students section -->
<section class="wow fadeIn padding-three-tb">
    <div class="container">
        <span class="text-hcid alt-font margin-10px-bottom display-inline-block text-medium">PhD
            Students<br /><br /></span>
        <div class="row col-4-nth sm-col-2-nth">
            <!-- start post item -->
            {% assign phds = site.people | where_exp: "item" , "item.path contains 'phd'"%}
            {% for member in phds %}
            <div
                class="col-md-3 col-sm-6 col-xs-6 margin-50px-bottom wow fadeIn last-paragraph-no-margin xs-margin-30px-bottom xs-text-center">
                <div class="blog-post blog-post-style0">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        {% if member.slug %}
                        <a href="{{member.slug}}">
                            {% else %}
                            <a href="/people/{{member.name | remove: ' ' }}">
                                {% endif %}
                                {% if member.image %}
                                {% assign image_url = member.image | prepend: "/assets/images/people/"%}
                                <img src="{{image_url | relative_url}}" alt="">
                                {% else %}
                                <img src="https://dummyimage.com/400x400/cfcfcf/000000&text=Image" alt="">
                                {% endif %}
                            </a>
                    </div>
                    <div class="post-details">

                        {% if member.slug %}
                        <a href="{{member.slug}}"
                            class="post-title text-medium text-extra-dark-gray display-block width-90 sm-width-100">{{member.name}}</a>
                        {% else %}
                        {% assign member_url = member.name | prepend: "/people/" %}
                        <a href="/people/{{member.name | remove: ' ' }}"
                            class="post-title text-medium text-extra-dark-gray display-block width-90 sm-width-100">{{member.name}}</a>
                        {% endif %}
                        <div
                            class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb">
                        </div>
                        <p class="width-90 xs-width-100">Ph.D. Student</br>
                            {% if member.email %}
                            {{member.email}}
                            {% endif%}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end post item -->
        </div>
    </div>
</section>
<!-- [mod] end phd students section -->
<hr>
<!-- [mod] start master students section -->
<section class="wow fadeIn">
    <div class="container">
        <span class="text-hcid alt-font margin-10px-bottom display-inline-block text-medium">Master
            Students<br /><br /></span>
        <div class="row col-4-nth sm-col-2-nth">
            <!-- start post item -->
            {% assign masters = site.people | where_exp: "item" , "item.path contains 'master'"%}
            {% for member in masters %}
            <div
                class="col-md-3 col-sm-6 col-xs-6 margin-50px-bottom wow fadeIn last-paragraph-no-margin xs-margin-30px-bottom xs-text-center">
                <div class="blog-post blog-post-style0">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        {% if member.slug %}
                        <a href="{{member.slug}}">
                            {% else %}
                            <a href="/people/{{member.name | remove: ' ' }}">
                                {% endif %}
                                {% if member.image %}
                                {% assign image_url = member.image | prepend: "/assets/images/people/" %}
                                <img src="{{image_url | relative_url}}" alt="">
                                {% else %}
                                <img src="https://dummyimage.com/400x400/cfcfcf/000000&text=Image" alt="">
                                {% endif %}
                            </a>
                    </div>
                    <div class="post-details">
                        {% if member.slug %}
                        <a href="{{member.slug}}"
                            class="post-title text-medium text-extra-dark-gray display-block width-90 sm-width-100">{{member.name}}</a>
                        {% else %}
                        {% assign member_url = member.title | prepend: "/people/" %}
                        <a href="{{member_url | relative_url}}"
                            class="post-title text-medium text-extra-dark-gray display-block width-90 sm-width-100">{{member.name}}</a>
                        {% endif %}
                        <div
                            class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb">
                        </div>
                        <p class="width-90 xs-width-100">M.S. Student</br>
                            {% if member.email %}
                            {{member.email}}
                            {% endif%}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end post item -->

        </div>
    </div>
</section>
<!-- [mod] end master students section -->
<hr>
<!-- [mod] start alumni students section -->
<section class="wow fadeIn padding-three-tb">
    <div class="container">
        <span class="text-hcid alt-font margin-10px-bottom display-inline-block text-medium">Alumni<br /><br /></span>
        <div class="row col-4-nth sm-col-2-nth">
            <!-- start post item -->
            {% assign alumnus = site.data.alumni %}
            {% for member in alumnus.alumnus %}
            <div class="padding-15px-lr sm-padding-three-lr">
                <p>{{member.alumni}}</p>
            </div>
            {% endfor %}
            <!-- end post item -->
        </div>
    </div>
</section>
<!-- [mod] end alumni students section -->